body {
    background-color: rgb(235, 193, 193);
}

#nigga {
    text-align: center;
    color: blueviolet;
}

#banner{
    background-color: rgb(253, 253, 253);
}

#eventStuff{
    text-align: center;
}

.pending{
    padding: 10px;
    border: 10px;
    border-style:solid;
    background-color: beige;
    
}

